
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/JavaScript.js"></script>
<script>

    var RecordsPerPage = 3;
    var CurrentPage = 1;
    var searchData = '';

    loadPartialViews(CurrentPage, RecordsPerPage, searchData);

</script>

<div id="partialViewAddEmployee"></div>
<br><br>
<div id="partialViewDisplayEmployee"></div>
